# Cache folders
__pycache__
.ipynb_checkpoints
.log
.cache
wandb
slurm

# Virtual environment
venv

# Model checkpoints
checkpoints
checkpoints_v2
checkpoints_v3
model_dpo_v2
model_dpo_v3

# Data files
data 

# Bash scripts
.sh

# Login credentials
google_credentials.json