# cache folders
__pycache__
.ipynb_checkpoints
.log
.cache
wandb
slurm

# virtual environment
venv

# model checkpoints
checkpoints
models

# large data files
data/safe_rlhf 
data/xsafety_benchmark

# login credentials
google_credentials.json